<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>v-for</title>
		<script src="js/vue.js"></script>  <!-- 注意：此处的引用写法，必须这样写-->
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="(item,index) in arr">{{item}} = {{index}}</li>
			</ul>
			<ul>
				<li v-for="(key,value) in product">{{key}} --- {{value}}</li>
			</ul>
			<table>
				<tr>
					<td>id</td>
					<td>name</td>
					<td>price</td>
				</tr>
				<tr v-for="(product,index) in products">
					<td>{{product.id}}</td>
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
				</tr>
			</table>
		</div>
	</body>
	<script>
		new Vue({
			el:"#app",
			data:{
				arr:[1,3,4],
				product:{
					id:1,
					name:"笔记本",
					price:5000
				},
				products:[
					{id:2,name:"abc",price:100},
					{id:3,name:"abcdef",price:200},
					{id:4,name:"abcd",price:300}
				]
			}
		})
	</script>
</html>
